@{
    ViewData["Title"] = "Home Page";
}

<div class="Landing Section">
    <h1> Experience the Beauty of Onewhero Bay </h1>
    <p>
        Onewhero Bay Heritage Park is a serene haven offering picturesque trails, captivating attractions,
        and engaging events that celebrate our rich history and natural beauty.
        Immerse yourself in this warm and inviting escape, ideal for making unforgettable memories.
    </p>
</div>


<div class="Discover Section">
    <h2> Discover Onewhero Bay's Rich Heritage </h2>
    <h4> Explore History, Embrace Nature </h4>
    <p>
        Immerse yourself in the captivating past and vibrant ecosystem of Onewhero Bay Heritage Park.
        Experience unique attractions and upcoming events designed for all ages.
    </p>
    <a href="/Home class=btn btn-primary">Learn More</a>
</div>


<div class="Explore Section">
    <h3> Explore Onewhero Bay</h3>
    <p>
        Onewhero Bay Heritage Park is the heart of natural beauty, culture, and community.
        Discover captivating attractions, dive into a history rich with stories, and
        participate in vibrant events here, where every moment ignites warmth and inspiration.
    </p>

    <h4> Scenic Hiking Trails </h4>
    <p>
        Embark on a journey through Onewhero Bay's acclaimed hiking trails,
        where every path unveils a blend of scenic beauty, rich history, and peace
    </p>

    <h4> Historic Landmarks </h4>
    <p>
        Experience the echoes of the past at our beautifully preserved historic landmarks,
        each narrating a unique piece of Onewhero Bay's story
    </p>

    <h4> Family Picnics </h4>
    <p>
        Indulge in a warm and inviting atmosphere, perfect for creating cherished
        moments with loved ones in our serene picnic areas.
    </p>
</div>


<div class="Park Info">
    <h4> Explore Onewhero Bay </h4>
    <h3> Discover The Park </h3>
    <a href="/home class=btn btn-primary1">Discover</a>
    <a href="/home class=btn btn-secondary1">Book</a>

    <p>
        Onewhero Bay Heritage Park is a hub of natural splendor and historical significance, welcoming visitors to share in its vibrant events and stories year-round.
        <br />
        Plan your visit to enjoy scenic trails, heritage displays, and memorable events that connect you to the spirit of the park.
    </p>
</div>


<div class="Events">
    <h3> Explore Onewhero Bay Heritage Park Events </h3>
    <p> Discover upcoming events at Onewhero Bay Heritage Park. Plan your visit and immerse yourself in history and nature. </p>
    <ul>
        <a href="/home class=btn btn-tertiary1">Tours</a>
        <a href="/home class=btn btn-tertiary1">Nature Walks</a>
        <a href="/home class=btn btn-tertiary1">Work Shops</a>
        <a href="/home class=btn btn-tertiary1">Special Events</a>
    </ul>

    <h3> Guided Historical Tours </h3>
    <p>
        Join our expert guides for a fascinating journey through the rich history of Onewhero Bay.
        <br />
        Learn about the early settlers and significant events
    </p>
</div>


<footer>
    <h4> Explore Onewhero Bay Heritage Park's rich history and natural beauty. </h4>
    <h6> Explore </h6>
    <ul>
        <li>
            <a href="/Home" class"">Home</a>
            <a href="/Home" class"">Attractions</a>
            <a href="/Home" class"">Events</a>
        </li>
    </ul>

    <h6> About Us </h6>
    <ul>
        <li>
            <a href="/Home" class"">Our Story</a>
            <a href="/Home" class"">Contact</a>
            <a href="/Home" class"">Careers</a>
        </li>
    </ul>

    <h6> Legal </h6>
    <ul>
        <li>
            <a href="/Home" class"">Privacy Policy</a>
            <a href="/Home" class"">Terms of User</a>
            <a href="/Home" class"">Cookies</a>
        </li>
    </ul>


</footer>