@{
    ViewData["Title"] = "Park Info";
}

<h1> Unveil Wonders</h1>
<p> Onewhero Bay Heritage Park offers a unique blend of natural beauty and historical charm, 
    making it the perfect destination for family outings, outdoor adventures, and cultural exploration. 
    Whether you’re interested in scenic trails, historic exhibits, or enjoying serene park landscapes, 
    there is something for everyone to appreciate in our inviting and tranquil environment.</p>

    <div class="ParkInfoEvent1">
        <h3> Exploring Kiwi Habitats in Depth </h3>
        <p> Dive into the unique and fascinating world of the kiwi bird, discovering its natural habitat and preservation efforts. </p>
        <p> MARCH 12, 2025 </p>
        <a href="/Home/ParkInfo class=btn btn-primary1">Learn More</a>
    </div>

    <div class="ParkInfoEvent2">
        <h3> New Trails Unveiled in Onewhero Bay </h3>
        <p> Experience the scenic beauty of Onewhero Bay with newly opened walking and hiking trails, designed for all nature enthusiasts. </p>
        <p> APRIL 07, 2025 </p>
        <a href="/Home/ParkInfo class=btn btn-primary1">Explore Now</a>
        </div>

    <div class="ParkInfoEvent3">
        <h3> Kiwi Night Tours Introduced </h3>
        <p> Embark on a mesmerizing night tour at the Kiwi house and see these remarkable birds come alive after dark. </p>
        <p> MARCH 12, 2025 </p>
        <a href="/Home/ParkInfo class=btn btn-primary1">Learn More</a>
    </div>

    <div class="ParkInfoEvent4">
        <h3> Marae: Sacred Ground </h3>
        <p> Learn about the spiritual and cultural significance of the Marae at Onewhero Bay Heritage Park. </p>
        <p> MARCH 12, 2025 </p>
        <a href="/Home/ParkInfo class=btn btn-primary1">Learn More</a>
    </div>

    <div class="ParkInfoEvent5">
        <h3> Onewhero Bay Park </h3>
        <p> Discover the rich history and breathtaking natural beauty of Onewhero Bay Heritage Park. </p>
        <p> MARCH 12, 2025 </p>
        <a href="/Home/ParkInfo class=btn btn-primary1">Learn More</a>
    </div>
