html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer.footer {
    background-color: #f8f9fa; /* Light neutral tone */
    color: #555; /* Softer text */
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: 40px; /* Space above footer */
    position: relative; /* ensure it sits normally */
}
