# Visual Studio
.vs/
*.user
*.suo

# Build
bin/
obj/
[Bb]uild/
[Rr]elease/
[Dd]ebug/

# Packages
packages/
*.nupkg

# IIS Express
/.vs/config/

# Logs
*.log
/VMS.WebApp/UpgradeLog.htm
/VMS.WebApp/Backup
